
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(66, 65, 65);
    height: 95%;
    width: 95%;
}

.left-half {
    display: flex;
    flex-direction: column;
    height: calc(100% - 40px);
    width: calc(50% - 25px);
    margin-right: 5px;
}

.right-half {
    display: flex;
    flex-direction: column;
    height: calc(100% - 40px);
    width: calc(50% - 25px);
    margin-left: 5px;
}

.l-row {
    display: flex;
    height: 10%;
    width: 100%;
}

.has-bottom-margin {
    margin-bottom: 10px;
}

.has-right-margin {
    margin-right: 10px;
}

.l-row .sq1 {
    background-color: white;
    width: 24%;
    box-shadow: 5px 5px 5px black;
}

.l-row .sq2 {
    background-color: white;
    width: 42.6%;
    box-shadow: 5px 5px 5px black;
}

.l-row .sq3 {
    background-color: yellow;
    width: 33.3%;
    box-shadow: 5px 5px 5px black;
}

.l-row .sq4 {
    background-color: white;
    width: 18.6%;
    box-shadow: 5px 5px 5px black;
}

.l-row .sq5 {
    background-color: red;
    width: 48%;
    box-shadow: 5px 5px 5px black;
}

.l-row .sq6 {
    background-color: yellow;
    width: 33.3%;
    box-shadow: 5px 5px 5px black;
}

.l-row .sq7 {
    background-color: white;
    width: 18.6%;
    box-shadow: 5px 5px 5px black;
}

.l-row .sq8 {
    background-color: red;
    width: 48%;
    box-shadow: 5px 5px 5px black;
}

.l-row .sq9 {
    background-color: yellow;
    width: 33.3%;
    box-shadow: 5px 5px 5px black;
}

.l-row .sq10 {
    background-color: white;
    width: 18.6%;
    box-shadow: 5px 0px 5px black;
}

.l-row .sq11 {
    background-color: red;
    width: 48%;
    box-shadow: 5px 5px 5px black;
}

.l-row .sq12 {
    background-color: white;
    width: calc(16.65% - 5px);
    box-shadow: 5px 5px 5px black;
}

.l-row .sq13 {
    background-color: white;
    width: calc(16.65% - 5px);
    box-shadow: 5px 5px 5px black;
}

.l-row .sq14 {
    background-color: white;
    width: 18.6%;
    box-shadow: 5px 5px 5px black;
}

.l-row .sq15 {
    background-color: red;
    width: 48%;
    box-shadow: 5px 5px 5px black;
}

.l-row .sq16 {
    background-color: white;
    width: calc(16.65% - 5px);
    box-shadow: 5px 5px 5px black;
}

.l-row .sq17 {
    background-color: white;
    width: calc(16.65% - 5px);
    box-shadow: 5px 5px 5px black;
}

.l-row .sq18 {
    background-color: white;
    width: 18.6%;
    box-shadow: 5px 5px 5px black;
}

.l-row .sq19 {
    background-color: black;
    width: calc(24% - 5px);
    box-shadow: 5px 5px 5px black;
}

.l-row .sq20 {
    background-color: white;
    width: calc(24% - 5px);
    box-shadow: 5px 5px 5px black;
}

.l-row .sq21 {
    background-color: white;
    width: 33.3%;
    box-shadow: 5px 5px 5px black;
}

.l-row .sq22 {
    background-color: yellow;
    width: 18.6%;
    box-shadow: 5px 5px 5px black;
}

.l-row .sq23 {
    background-color: black;
    width: calc(24% - 5px);
    box-shadow: 5px 5px 5px black;
}

.l-row .sq24 {
    background-color: white;
    width: calc(24% - 5px);
    box-shadow: 5px 5px 5px black;
}

.l-row .sq25 {
    background-color: rgb(45, 121, 172);
    width: 33.3%;
    box-shadow: 5px 5px 5px black;
}

.l-row .sq26 {
    background-color: yellow;
    width: 18.6%;
    box-shadow: 5px 5px 5px black;
}

.l-row .sq27 {
    background-color: white;
    width: calc(24% - 5px);
    box-shadow: 5px 5px 5px black;
}

.l-row .sq28 {
    background-color: black;
    width: calc(24% - 5px);
    box-shadow: 5px 5px 5px black;
}

.l-row .sq29 {
    background-color: rgb(45, 121, 172);
    width: 33.3%;
    box-shadow: 5px 5px 5px black;
}

.l-row .sq30 {
    background-color: yellow;
    width: 18.6%;
    box-shadow: 5px 5px 5px black;
}

.l-row .sq31 {
    background-color: white;
    width: calc(24% - 5px);
    box-shadow: 5px 5px 5px black;
}

.l-row .sq32 {
    background-color: yellow;
    width: calc((24% - 15px) / 2);
    box-shadow: 5px 5px 5px black;
}

.l-row .sq33 {
    background-color: white;
    width: calc((24% - 15px) / 2);
    box-shadow: 5px 5px 5px black;
}

.l-row .sq34 {
    background-color: red;
    width: 33.3%;
    box-shadow: 5px 5px 5px black;
}

.l-row .sq35 {
    background-color: white;
    width: 43%;
    box-shadow: 5px 5px 5px black;
}

.l-row .sq36 {
    background-color: yellow;
    width: calc((24% - 15px) / 2);
    box-shadow: 5px 5px 5px black;
}

.l-row .sq37 {
    background-color: white;
    width: calc((24% - 15px) / 2);
    box-shadow: 5px 5px 5px black;
}

.l-row .sq38 {
    background-color: red;
    width: 33.3%;
    box-shadow: 5px 5px 5px black;
}